
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin: 0;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 800px;
            height: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .form-group label {
            width: 40%;
            font-weight: bold;
        }
        .form-group input, 
        .form-group select, 
        .form-group textarea {
            width: 60%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .gender-group {
            display: flex;
            align-items: center;
        }
        .checkbox-group {
            display: flex;
            /* flex-direction: column; */
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            margin-top: 15px;
        }
        button:hover {
            background-color: #45a049;
        }
        .specialization-container {
            display: flex;
            flex-direction: column;
        }
        .specialization-container label {
            width: 100%;
            display: flex;
            align-items: center;
        }
        .specialization-container input {
            margin-right: 10px;
        }